KZ_MEDIA_OUTPUT_MODE=psql
KZ_MEDIA_SQL_TEMPLATE=~/Desktop/kz_media.sql
KZ_MEDIA_PSQL_USERNAME=
KZ_MEDIA_PSQL_PASSWORD= 
KZ_MEDIA_PSQL_HOST=
KZ_MEDIA_PSQL_PORT=
KZ_MEDIA_PSQL_DB_NAME=
KZ_MEDIA_PSQL_SSLMODE=
KZ_MEDIA_PSQL_SCHEMA=
KZ_MEDIA_PLATFORMS_TABLE=platforms
KZ_MEDIA_ARTICLES_TABLE=articles
